/* Main styling */

/* Colors */
@import url("colors.css");

/* Reset defaults */
@import url("reset.css");

/* General */

body {
    font-family: Poppins, sans-serif;
    background-color: var(--white);
    color: var(--black);
}

header {
    width: 100%;
}

.header-top {
    width: 100%;
    border-bottom: 1px solid var(--grey);
}

.header-bottom {
    width: 100%;
    border-bottom: 1px solid var(--grey);
    background-color: var(--light-grey);
}

.container {
    margin: auto;
    padding: 0 2.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin: 0.8rem 0;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
}

.cart {
    width: 2.2rem;
    height: 2.2rem;
}

.search-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

input {
    padding: 1rem 1rem 1rem 3rem;
    width: 70%;
    height: 45px;
    border: 1px solid var(--grey);
    border-radius: 9px;
    box-shadow: 1px 1px 10px var(--grey);
    background-image: url("/images/search.svg");
    background-repeat: no-repeat;
    background-position: 1rem;
    background-size: 1rem 1rem;
}

input:focus {
    border: 1px solid var(--blue);
}

.category-container {
    width: 80%;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category-container li {
    font-size: 1.1rem;
    font-weight: 700;
}

.Footer{
    background-color: rgb(121, 121, 121);
    margin-top: 55px;
    padding: 20px;
    position: sticky;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    display: flex;
    bottom: 0;
}

.links {
    display: flex;
    flex-direction: column; 
}

.links a{
    color: black;
}

.symbolen {
    display: flex;
    align-items: center;
  }

.symbolen a {
    margin-right: 20px;
    max-width: 30px;
    height: 30px;
    display: flex;
}

.titel{
    font-weight: 700;
    text-decoration: underline;    
}

.voorwaarde{
    padding: 20px;
}

.voorwaarde a{
    color: red;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}
.product {
    width: calc(33.33% - 10px); 
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}
.product img {
    max-width: 100%;
    height: auto;
}

.product-container a{
    color: black;
    font-size: 20;
    font-weight: 700;
}

.contact{
    padding: 50px;
    font-size: 24px;
}

.titel-contact{
    font-size: 36px;
    text-decoration: underline;
    font-weight: 700;
}

.foto-contact{
    width: 800px; /* Breedte van de afbeelding */
    height: auto; /* Behoudt de oorspronkelijke verhoudingen van de afbeelding */
    position: absolute; /* Absoluut positioneren */
    top: 50%; /* Plaats de bovenkant van de afbeelding op 50% van de hoogte van de pagina */
    right: 0; /* Plaats de afbeelding aan de rechterkant van het scherm */
    transform: translateY(-50%);
    padding-right: 50px; ;
}