/* Colors */
:root {
    --success: #2BB673;
    --fail: #FF3333;
    --white: #FFF;
    --black: #000;
    --lightest-black: #686876;
    --light-black: #303030;
    --grey: #DFDFDF;
    --light-grey: #F2F2F2;
    --dark-grey: #3E3F3E; 
    --green: #1BBCB6;
    --dark-green: #159A91;
    --red: #E30613;
    --dark-red: #900404;
    --blue: #73B4E9;
    --light-black: #303131;
}