/* Main styling */

/* Colors */
@import url("colors.css");

/* Reset defaults */
@import url("reset.css");

/* General */

body {
    font-family: Poppins, sans-serif;
    background-color: var(--white);
    color: var(--black);
}

header {
    width: 100%;
}

.header-top {
    width: 100%;
    border-bottom: 1px solid var(--grey);
}

.header-bottom {
    width: 100%;
    border-bottom: 1px solid var(--grey);
    background-color: var(--light-grey);
}

.container {
    margin: auto;
    padding: 0 2.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin: 0.8rem 0;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
}

.cart {
    width: 2.2rem;
    height: 2.2rem;
}

.search-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

input {
    padding: 1rem 1rem 1rem 3rem;
    width: 70%;
    height: 45px;
    border: 1px solid var(--grey);
    border-radius: 9px;
    box-shadow: 1px 1px 10px var(--grey);
    background-image: url("/images/search.svg");
    background-repeat: no-repeat;
    background-position: 1rem;
    background-size: 1rem 1rem;
}

input:focus {
    border: 1px solid var(--blue);
}

.category-container {
    width: 80%;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category-container li {
    font-size: 1.1rem;
    font-weight: 700;
}
.container {
    margin: auto;
    padding: 0 2.2rem;
    display: flex;
    align-items: flex-start; /* Align items vertically at the start */
    justify-content: space-between; /* Distribute space between items */
}

.item {
    width: 30%; /* Adjust width as needed */
    margin-right: 2rem; /* Add spacing between items */
}

.item img {
    max-width: 100%; /* Ensure image does not exceed container width */
}

.NaamProductFoto {
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
}

.Beschrijving {
    width: 60%; /* Adjust width as needed */
}

/* CSS for rounded corners and styling of dates */
.calendar {
    width: 30%; /* Adjust width as needed */
    border-collapse: collapse;
    border-radius: 10px; /* Add rounded corners */
}

.calendar th, .calendar td {
    border: 0.1rem solid black;
    padding: 0.5rem; /* Increase padding for better clickable area */
    text-align: center;
    width: calc(100% / 7);
    cursor: pointer; /* Change cursor to pointer for clickable dates */
}

.calendar .selected {
    background-color: var(--blue); /* Change to the desired color for selected dates */
    color: blue; /* Change to the desired text color for selected dates */
}

.calendar .fade {
    color: #aaa; /* Change to the desired color for faded dates */
    pointer-events: none; /* Disable pointer events for faded dates */
}


.header {
    background-color: #ccc;
}

.empty {
    background-color: #f2f2f2;
}
.capitalize{
    text-transform: uppercase;
    font-weight: bold;


}