/* Main styling */

/* Colors */
@import url("colors.css");

/* Reset defaults */
@import url("reset.css");

/* General */

body {
    font-family: Poppins, sans-serif;
    background-color: var(--white);
    color: var(--black);
}

header {
    width: 100%;
}

.header-top {
    width: 100%;
    border-bottom: 1px solid var(--grey);
}

.header-bottom {
    width: 100%;
    border-bottom: 1px solid var(--grey);
    background-color: var(--light-grey);
}

.container {
    margin: auto;
    padding: 0 2.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin: 0.8rem 0;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
}

.cart {
    width: 2.2rem;
    height: 2.2rem;
}

.search-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

input {
    padding: 1rem 1rem 1rem 3rem;
    width: 70%;
    height: 45px;
    border: 1px solid var(--grey);
    border-radius: 9px;
    box-shadow: 1px 1px 10px var(--grey);
    background-image: url("/images/search.svg");
    background-repeat: no-repeat;
    background-position: 1rem;
    background-size: 1rem 1rem;
}

input:focus {
    border: 1px solid var(--blue);
}

.category-container {
    width: 80%;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category-container li {
    font-size: 1.1rem;
    font-weight: 700;
}

Footer{
    background-color: rgb(121, 121, 121);
    margin-top: auto;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    display: flex;
}

.links {
    display: flex;
    flex-direction: column; 
}

.links a{
    color: black;
}

.symbolen {
    display: flex;
    align-items: center;
  }

.symbolen a {
    margin-right: 20px;
    max-width: 30px;
    height: 30px;
    display: flex;
}

.titel{
    font-weight: 700;
    text-decoration: underline;
}

.voorwaarde{
    padding: 30px;
}

.voorwaarde a{
    color: red;
}

